<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="intelligent.home.scum.com.fragmentlistexample" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/apex"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ScumMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScumRoomActivity"
            android:label="@string/title_activity_scum_room"
            android:parentActivityName=".ScumMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScumMainActivity" />
        </activity>
        <activity
            android:name=".ScumIndividualRoom"
            android:label="@string/title_activity_scum_individual_room"
            android:parentActivityName=".ScumRoomActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScumRoomActivity" />
        </activity>
        <activity
            android:name=".ScumMediaController"
            android:label="@string/title_activity_scum_media_controller"
            android:parentActivityName=".ScumIndividualRoom">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScumIndividualRoom" />
        </activity>
    </application>

</manifest>
